@import '../styles/_variables';

.Admin {
	text-align: left;
	height: 100vh;

	> div {
		height: 100vh;
	}
}

.card {
	background: $white;
	border-radius: 5px;
	box-shadow: 0 0 1rem #b8b8b8;
	display: inline-block;
	width: 100%;
}

.tag {
	padding: 3px 5px;
}