@import 'styles/_variables';
@import 'styles/_typography';

* {
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  max-width: 1260px;
  text-align: center;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  color: white;
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
