$xsmall: 30em;
$small: 40em;
$medium: 52em;
$large: 64em;
$xlarge: 86em;

@mixin to-xsmall() {
  @media (max-width: $xsmall) {
    @content;
  }
}

@mixin from-xsmall() {
  @media (min-width: $xsmall + 0.01) {
    @content;
  }
}

@mixin to-small() {
  @media (max-width: $small) {
    @content;
  }
}
@mixin from-small() {
  @media (min-width: $small + 0.01) {
    @content;
  }
}
@mixin to-medium() {
  @media (max-width: $medium) {
    @content;
  }
}
@mixin from-medium() {
  @media (min-width: $medium + 0.01) {
    @content;
  }
}
@mixin to-large() {
  @media (max-width: $large) {
    @content;
  }
}
@mixin from-large() {
  @media (min-width: $large + 0.01) {
    @content;
  }
}

@mixin to-xlarge() {
  @media (max-width: $xlarge) {
    @content;
  }
}
@mixin from-xlarge() {
  @media (min-width: $xlarge + 0.01) {
    @content;
  }
}
