$white: #FFF;

$gray: #797979;
$gray-light: #eee;
$gray-dark: #4A4A4A;
$gray-transparent: rgba(0, 0, 0, 0.25);

$blue: #00A7E0;
$blue-light: rgba( $blue, 0.6);
$blue-lighter: rgba( $blue, 0.4);
$blue-lighterer: #F3F6F7;
$red: #E75431;
$primary-button-blue: #003B9C;
$secondary-button-blue: #74B7CE;
$green: #00A997;
